&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header-cs-alt}}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-12&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;div class=&quot;margin-bottom-16&quot;&gt;
                                    {{&gt; organisms-jump-to-profile-button }}
                                    {{&gt; organisms-invite-button }}
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;red&quot;&gt;&lt;/h2&gt;
                                                    &lt;div id=&quot;peruser_interactions_chart&quot;&gt;
                                                        &lt;div class=&quot;keen-widget keen-metric&quot; style=&quot;background-color: #e74c3c; width:auto;&quot; title=&quot;1&quot;&gt;&lt;span class=&quot;keen-metric-value&quot;&gt;72&lt;/span&gt;&lt;span class=&quot;keen-metric-title&quot;&gt;Total Students&lt;/span&gt;&lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;red&quot;&gt;Percentage of Students&lt;br /&gt;Signed Up&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-1&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;red&quot;&gt;Week over Week&lt;br /&gt;Change in Percentage of Sign Ups&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-2&quot; style=&quot;max-height: 335px; position: relative;&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;

                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;main-box&quot;&gt;
                                  &lt;div class=&quot;row&quot;&gt;
                                    &lt;div class=&quot;col-md-12&quot;&gt;
                                      &lt;div class=&quot;graph-box&quot;&gt;
                                        &lt;h2 class=&quot;default&quot;&gt;&lt;/h2&gt;
                                        &lt;div id=&quot;peruser_previews_chart&quot;&gt;
                                          &lt;div class=&quot;keen-widget keen-metric&quot; style=&quot;background-color: #0691F9; width:auto;&quot; title=&quot;0&quot;&gt;&lt;span class=&quot;keen-metric-value&quot;&gt;12&lt;/span&gt;&lt;span class=&quot;keen-metric-title&quot;&gt;Previewed Jobs Per Student&lt;/span&gt;&lt;/div&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2&gt;Percentage of Students&lt;br /&gt;Signed Up&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-3&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2&gt;Week over Week&lt;br /&gt;Change in Percentage of Sign Ups&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-4&quot; style=&quot;max-height: 335px; position: relative;&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;class-lg-12&quot;&gt;

                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;main-box&quot;&gt;
                                  &lt;div class=&quot;row&quot;&gt;
                                    &lt;div class=&quot;col-md-12&quot;&gt;
                                      &lt;div class=&quot;graph-box&quot;&gt;
                                        &lt;h2 class=&quot;orange&quot;&gt;&lt;/h2&gt;
                                        &lt;div id=&quot;peruser_jobviews_chart&quot;&gt;
                                          &lt;div class=&quot;keen-widget keen-metric&quot; style=&quot;background-color: #F7941E; width:auto;&quot; title=&quot;1&quot;&gt;&lt;span class=&quot;keen-metric-value&quot;&gt;6&lt;/span&gt;&lt;span class=&quot;keen-metric-title&quot;&gt;Viewed Jobs Per Student&lt;/span&gt;&lt;/div&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;orange&quot;&gt;Percentage of Students&lt;br /&gt;Signed Up&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-5&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;orange&quot;&gt;Week over Week&lt;br /&gt;Change in Percentage of Sign Ups&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-6&quot; style=&quot;max-height: 335px; position: relative;&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;

                              &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;main-box&quot;&gt;
                                  &lt;div class=&quot;row&quot;&gt;
                                    &lt;div class=&quot;col-md-12&quot;&gt;
                                      &lt;div class=&quot;graph-box&quot;&gt;
                                        &lt;h2 class=&quot;purple&quot;&gt;&lt;/h2&gt;
                                        &lt;div id=&quot;peruser_interested_chart&quot;&gt;
                                          &lt;div class=&quot;keen-widget keen-metric&quot; style=&quot;background-color: #9b59b6; width:auto;&quot; title=&quot;1&quot;&gt;&lt;span class=&quot;keen-metric-value&quot;&gt;4&lt;/span&gt;&lt;span class=&quot;keen-metric-title&quot;&gt;Interested in Applying Per Student&lt;/span&gt;&lt;/div&gt;
                                        &lt;/div&gt;
                                      &lt;/div&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;purple&quot;&gt;Percentage of Students&lt;br /&gt;Signed Up&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-7&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-md-4&quot;&gt;
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-md-12&quot;&gt;
                                                &lt;div class=&quot;graph-box&quot;&gt;
                                                    &lt;h2 class=&quot;purple&quot;&gt;Week over Week&lt;br /&gt;Change in Percentage of Sign Ups&lt;/h2&gt;
                                                    &lt;div class=&quot;graph&quot; id=&quot;graph-line-8&quot; style=&quot;max-height: 335px; position: relative;&quot;&gt;
                                                        &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;div class=&quot;col-lg-6&quot;&gt;
                                    {{&gt; organisms-request-to-dos-cs }}
                                &lt;/div&gt;
                                &lt;div class=&quot;col-lg-6&quot;&gt;
                                    {{&gt; organisms-bdubs-conversation-small }}
                                    {{&gt; organisms-jobs-companies-count }}
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;


                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12 hidden&quot;&gt;
                                {{&gt; molecules-morris-pie-chart }}
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-new-message-modal }} {{&gt; organisms-create-to-do-modal }} {{&gt; organisms-new-note-modal }} {{&gt; organisms-jump-to-profile-modal }} {{&gt; organisms-invite-modal }} {{&gt; organisms-peek-student-modal }} {{&gt; organisms-peek-employer-modal }} {{&gt; organisms-peek-job-modal
}}
