&lt;div class=&quot;col-lg-12&quot;&gt;
    &lt;p&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-shortlist-modal&quot;&gt;New Shortlist +&lt;/a&gt;&lt;/p&gt;
    &lt;div class=&quot;table-responsive&quot;&gt;
        &lt;table id=&quot;table-example&quot; class=&quot;table table-hover&quot;&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Title&lt;/th&gt;
                &lt;th&gt;Total&lt;/th&gt;
                &lt;th&gt;Add&lt;/th&gt;
                &lt;th&gt;Share&lt;/th&gt;
                &lt;th&gt;Delete&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;
                    &lt;a href=&quot;#&quot;&gt;Follow-Up&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;10&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot; data-toggle=&quot;modal&quot; data-target=&quot;#add-to-shortlist-modal&quot;&gt;Add +&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Share&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;
                    &lt;a href=&quot;#&quot;&gt;Interview&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;4&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Add +&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Share&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;
                    &lt;a href=&quot;#&quot;&gt;Make Offer&lt;/a&gt;
                &lt;/td&gt;
                &lt;td&gt;1&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Add +&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Share&lt;/a&gt;&lt;/td&gt;
                &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Delete&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;