&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h5&gt;&lt;a href=&quot;{{ link.pages-cs-students-recent }}&quot;&gt;Active&lt;/a&gt;&lt;/h5&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h5&gt;&lt;a href=&quot;#&quot;&gt;Slipping&lt;/a&gt;&lt;/h5&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h5&gt;&lt;a href=&quot;#&quot;&gt;Interested&lt;/a&gt;&lt;/h5&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h5&gt;&lt;a href=&quot;{{ link.pages-cs-candidates-shortlist }}&quot;&gt;Shortlists&lt;/a&gt;&lt;/h5&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1 pull-right&quot;&gt;
    &lt;h5&gt;&lt;a href=&quot;{{ link.pages-cs-search }}&quot;&gt;Search&lt;/a&gt;&lt;/h5&gt;
&lt;/div&gt;