&lt;div id=&quot;theme-wrapper&quot; class=&quot;jobs-home&quot;&gt;
    {{&gt; organisms-header-alt}}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-12 report-builder&quot;&gt;

                        {{&gt; organisms-report-header }}
                    &lt;/div&gt;

                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box clearfix report-box&quot;&gt;

                            &lt;div class=&quot;col-sm-10&quot;&gt;

                                &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                    &lt;h2 class=&quot;report-title&quot;&gt;Job Seekers That Have an Account&lt;/h2&gt;
                                &lt;/header&gt;

                            &lt;/div&gt;

                            &lt;div class=&quot;col-sm-2&quot;&gt;


                                &lt;!-- Button trigger modal --&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg save-report&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal1&quot;&gt;
                                    Save &lt;span class=&quot;fa fa-save&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;

                            &lt;/div&gt;

                            &lt;!-- Modal --&gt;
                            &lt;div class=&quot;modal fade&quot; id=&quot;myModal1&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
                                &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
                                    &lt;div class=&quot;modal-content&quot;&gt;
                                        &lt;div class=&quot;modal-header&quot;&gt;
                                            &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                                            &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Save Report&lt;/h4&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;modal-body&quot;&gt;

                                            &lt;div class=&quot;form-group&quot;&gt;
                                                &lt;label&gt;Report Title&lt;/label&gt;
                                                &lt;input type=&quot;email&quot; class=&quot;form-control&quot; placeholder=&quot;Report Title&quot;&gt;
                                            &lt;/div&gt;

                                        &lt;/div&gt;
                                        &lt;div class=&quot;modal-footer&quot;&gt;
                                            &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
                                            &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Save&lt;/button&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                &lt;div class=&quot;table-responsive&quot;&gt;
                                    &lt;table id=&quot;table-example&quot; class=&quot;table table-hover&quot;&gt;
                                        &lt;thead&gt;
                                        &lt;tr&gt;
                                            &lt;th&gt;Name (email)&lt;/th&gt;
                                            &lt;th&gt;Degree Program&lt;/th&gt;
                                            &lt;th&gt;Status&lt;/th&gt;
                                        &lt;/tr&gt;
                                        &lt;/thead&gt;
                                        &lt;tbody&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Nixon, Tiger (tiger.nixon@gmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Education&lt;/td&gt;
                                            &lt;td&gt;Has Password&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Winters, Garrett (garrett.winters@hotmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Accounting&lt;/td&gt;
                                            &lt;td&gt;Has Password&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Cox, Ashton (acox@gmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Computer Science&lt;/td&gt;
                                            &lt;td&gt;Viewed a Job&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Kelly, Cedric (cedric.kelly1@hotmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Criminal Justice&lt;/td&gt;
                                            &lt;td&gt;Uploaded Resume&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Satou, Airi (asatou@yahoo.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Visual Communications&lt;/td&gt;
                                            &lt;td&gt;Has Job Preferences&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Williamson, Brielle (bwilliamson@gmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Practical Nursing&lt;/td&gt;
                                            &lt;td&gt;Has Job Preferences&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Chandler, Herrod (hchandler23@gmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Paralegal Studies&lt;/td&gt;
                                            &lt;td&gt;Has Job Preferences&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Davidson, Rhona (rrdavidson@yahoo.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Library Technical Assistant&lt;/td&gt;
                                            &lt;td&gt;Viewed Job Matches&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Hurst, Colleen (Hurst987@gmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Criminal Justice&lt;/td&gt;
                                            &lt;td&gt;Has Password&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;tr&gt;
                                            &lt;td&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Frost, Sonya (sonya.frost@hotmail.com)&lt;/a&gt;&lt;/td&gt;
                                            &lt;td&gt;Medical Assistant&lt;/td&gt;
                                            &lt;td&gt;Applied to Job&lt;/td&gt;
                                        &lt;/tr&gt;
                                        &lt;/tbody&gt;
                                    &lt;/table&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                {{&gt; organisms-footer }}

            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;