&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h4&gt;&lt;a href=&quot;{{ link.pages-e-candidates-suggested }}&quot;&gt;Suggested&lt;/a&gt;&lt;/h4&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h4&gt;&lt;a href=&quot;#&quot;&gt;Engaged&lt;/a&gt;&lt;/h4&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h4&gt;&lt;a href=&quot;#&quot;&gt;Contacted&lt;/a&gt;&lt;/h4&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;h4&gt;&lt;a href=&quot;{{ link.pages-e-candidates-shortlist }}&quot;&gt;Shortlists&lt;/a&gt;&lt;/h4&gt;
&lt;/div&gt;
&lt;div class=&quot;col-lg-1 pull-right&quot;&gt;
    &lt;h4&gt;&lt;a href=&quot;{{ link.pages-e-candidates-search }}&quot;&gt;Search&lt;/a&gt;&lt;/h4&gt;
&lt;/div&gt;